.webdav-flex {
    display: flex;
    gap: 8px;
}

.webdav-button-wrapper > button {
    flex-grow: 1;
}

/** 
 * hack classes for obsidian not really doing HTML-based validation on input fields.
 */
input.webdav-sync-validated:invalid {
    border-color: red;
}
input.webdav-sync-validated:valid {
    border-color: green;
}
