layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Tests and build" {
        pane split_direction="vertical" {
            pane name="Git"
            pane cwd="build" name="Build" {
                command "bash"
                args "-c" "npm run dev"
            }
        }
        pane split_direction="vertical" {
            pane name="Integration tests" {
                command "bash"
                args "-c" "./scripts/e2e-test.sh"
            }
            pane name="Unit tests" {
                command "bash"
                args "-c" "npm run test -- --watch"
            }
        }
    }
    tab name="There's a special place in hell for eslint" {
        pane name="But it isn't dead enough yet" {
            command "bash"
            args "-c" "npx eslint"
        }
    }
}
